<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Good Cars 24</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/full-slider.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
   

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./index.php">Good cars</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#ref1">O mnie</a>
                    </li>
                    <li>
                        <a href="#ref2">Kontakt</a>
                    </li>
                    <li>
                        <a href="#ref3">Aktualnie na sprzedaż</a>
                    </li>
<!--                     <li>
                        <a href="./car-1.php">Mitsubishi Outlander</a>
                    </li>
                    <li>
                        <a href="./car-2.php">Mitsubishi SPACE STAR</a>
                    </li>
                    <li>
                        <a href="./car-3.php">SAAB 9-3 1.9 TiD</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
                    
        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" id="first-slider"></div>
                <div class="carousel-caption">
                    <h2>Mitsubishi Outlander</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" id="second-slider"></div>
                <div class="carousel-caption">
                    <h2>Mitsubishi SPACE STAR</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" id="third-slider"></div>
                <div class="carousel-caption">
                    <h2>SAAB 9-3 1.9 TiD</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" id="fourth-slider"></div>
                <div class="carousel-caption">
                    <h2>BMW X6</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

    <!-- Page Content -->
    <section id="ref1" class="bg-primary">
        <div class="container">
            <div class="row">
                <div id="about">
                <div class="col-lg-12 center-class"><img class="img-responsive margins-auto" src="./img/pic2.png" alt=""></div>
                <div class="col-lg-12 text-center text-faded">
                    <h1>Nazywam się Wojtek Sirocki. </h1>
                    <!-- <hr class="light"> -->
                    <p>Sprowadzę dla Ciebie samochód w dobrym stanie jako licenjonowany dealer. Wszystkie samochody widoczne na witrynie są dostępne do obejrzenia w warsztacie. Samochody również dostępne na raty (kredyt, leasing). Jeśli szukasz innych marek/modeli również proszę o kontakt <a href="#ref2">formularzem</a> lub za pomocą telefonu <a href="tel:+48 535 583 057​">+48 535 583 057​</a>. Jestem pewien, że coś dla Ciebie wymyślę ;) </p>
                    <!-- <a href="https://youtu.be/sTSA_sWGM44?t=25s" class="btn btn-default btn-xl">Makarena</a> -->
                </div>
                </div>
            </div>
        </div>
    </section>
    <div id="ref3"></div>
<br>
<br>
    <div class="container">
        <hr>

        <!-- Samochody -->




        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <div class="overimage">
                    <img class="img-responsive" src="./img/1x700.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="col-md-5">
                <h3>Mitsubishi Outlander</h3>


                <!-- <h4>Osobiście sprowadzony z Niemiec</h4> -->
                <!-- <p>Ważne dane zachęcające. Wg. uznania wujka co tu wstawić by człowiek przeszedł dalej. Przebieg, brak kolizji itp.</p> -->
<br>

                <a class="btn btn-primary" href="./car-1.php">Szczegóły Techniczne i więcej zdjęć<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <div class="overimage">
                    <img class="img-responsive" src="./img/2x700.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="col-md-5">
                <h3>Mitsubishi SPACE STAR</h3>


                <!-- <h4>Osobiście sprowadzony z Francji</h4> -->
                <!-- <p>Ważne dane zachęcające. Wg. uznania wujka co tu wstawić by człowiek przeszedł dalej. Przebieg, brak kolizji itp.</p> -->
<br>

                <a class="btn btn-primary" href="./car-2.php">Szczegóły Techniczne i więcej zdjęć<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <div class="overimage">
                    <img class="img-responsive" src="./img/3x700.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="col-md-5">
                <h3>SAAB 9-3 1.9 TiD</h3>


                <!-- <h4>Sprowadzony z Niemiec</h4> -->
                <!-- <p>Ważne dane zachęcające. Wg. uznania wujka co tu wstawić by człowiek przeszedł dalej. Przebieg, brak kolizji itp.</p> -->
<br>

                <a class="btn btn-primary" href="./car-3.php">Szczegóły Techniczne i więcej zdjęć<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <div class="overimage">
                    <img class="img-responsive" src="./img/4x700.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="col-md-5">
                <h3>BMW X6</h3>


                <!-- <h4>Osobiście sprowadzony z Francji</h4> -->
                <!-- <p>Ważne dane zachęcające. Wg. uznania wujka co tu wstawić by człowiek przeszedł dalej. Przebieg, brak kolizji itp.</p> -->
<br>

                <a class="btn btn-primary" href="./car-4.php">Szczegóły Techniczne i więcej zdjęć<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

                <!-- Project Four -->
<!--         <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <div class="overimage">
                    <img class="img-responsive" src="./img/5x700.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="col-md-5">
                <h3>SSANGYONG KORANDO 2.9</h3>


<br>

                <a class="btn btn-primary" href="./car-5.php">Szczegóły Techniczne i więcej zdjęć<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div> -->
        <!-- /.row -->

        <hr>

        <!-- Samochody ends -->

    </div>
    <!-- /.container -->




        <!-- kontakt -->
<div class="overimage" id="ref2">
    <section id="last-big-photo">
            <div class="resizing">
            <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-2 hidden-xs"></div>
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 form-center formularz" id="contactPoint">
                    <form action="index.php" method="POST">
                      <div class="form-group">
                        <br>
                        <h2 id="kontakt-h">Kontakt</h2>
                        <!-- <label for="exMail0">Wpisz swoje imię i nazwisko</label> -->
                        <input id="name" name="first_name" type="text" class="form-control" id="exMail0" placeholder="Wpisz swoje imię i nazwisko">

                        <br>
                        <!-- <label for="exMail2">Podaj swój adres email, obiecuję brak spamu</label> -->
                        <input id="mail" name="email" type="email" class="form-control" id="exMail2" placeholder="Podaj swój adres email, obiecuję brak spamu">

                        <br>
                        <!-- <label for="exMail3">Podaj swój numer telefonu</label> -->
                        <input id="phone" name="phone" type="tel" class="form-control" id="exMail3" placeholder="Podaj swój numer telefonu">
                        
                        <br>
                        <!-- <label for="exMail4">Napisz swoją wiadomość</label> -->
                        <input id="msg" name="message" type="text" class="form-control" id="exMail4" placeholder="Twoja wiadomość">
                      </div>
                      <br>
                      <button id="submit" type="submit" name="submit" class="btn btn-default">WYŚLIJ</button>
                    </form>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-2 hidden-xs"></div>
                </div>

                <div class="row foote">
                <br>
                <br>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <p class="copyrights">© 2015 Good Cars. All rights reserved.</p>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <a href="tel:+48 535 583 057​">+48 535 583 057​</a>               
                        </div>  
                        <div class="col-xs-12 col-sm-4 col-md-4">
                        	<a href="http://goodpixelstudio.com"><!-- <p class="no-decorations">Made by </p> --><img id="gps-logo" src="./img/gps-logo.png"></a>
                        </div>
                    </div>
        </div>
    </section>
</div>
        <!-- kontakt ends -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>